.* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  color: rgb(168, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.card {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  /*transform: rotateY(180deg);*/
  animation-name: hideCard;
  animation-duration: 4s;
}

.container {
  height: 30em;
  width: 30em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6em;
}

.singleCard {
  color: white;
}

@keyframes hideCard {
  from {
    transform: (color: "red");
  }
  to {
    transform: (color: "green");
  }
}
